<footer class="theme-footer">
  <div class="container">
    <div class="top-footer row">
      <div class="col-md-4 col-sm-6 col-xs-12 footer-logo">
        <a href="#"><img src="{{ static_url('images/logo/logo.png') }}" alt="Logo"></a>
        <p>We create business coaches and trainers, individual therapists, diet and nutrition consultants, as well as other specialists who need a personal website, Check our latest work in profile  . . . .</p>
        <h5>Follow us</h5>
        <ul>
          <li><a href="" class="tran3s"><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
          <li><a href="" class="tran3s"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
          <li><a href="" class="tran3s"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div> <!-- /.footer-logo -->

      <div class="col-md-2 col-sm-3 col-xs-12 footer-list">
        <h5>About</h5>
        <ul>
          <li><a href="/" class="tran3s">Home</a></li>
          <li><a href="#" class="tran3s">Business Partners</a></li>
          <li><a href="#" class="tran3s">Inobiz </a></li>
          <li><a href="/website/faq" class="tran3s">Faq</a></li>
          <li><a href="/webstie/about-us" class="tran3s">About us</a></li>
          <li><a href="/website/blog-grid" class="tran3s">Blog</a></li>
        </ul>
      </div> <!-- /.footer-list -->
      <div class="col-md-2 col-sm-3 col-xs-12 footer-list">
        <h5>Short Link</h5>
        <ul>
          <li><a href="/website/service" class="tran3s">Services</a></li>
          <li><a href="#" class="tran3s">Business Growth</a></li>
          <li><a href="/website/project" class="tran3s">Project</a></li>
          <li><a href="#" class="tran3s">Case Study</a></li>
          <li><a href="#" class="tran3s">Privacy</a></li>
        </ul>
      </div> <!-- /.footer-list -->

      <div class="col-md-4 col-xs-12 Subscribe">
        <h5>Subscribes</h5>
        <p>Sign up for our mailing list to get latest updates and offers</p>
        <form action="#">
          <input type="email" placeholder="Email">
          <button><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
        </form>
        <p>Working Hours :  Monday-Saturday <br> Close : Sunday</p>
      </div> <!-- /.Subscribe -->
    </div> <!-- /.top-footer -->
  </div> <!-- /.container -->

  <div class="bottom-footer">
    <div class="container">
      <p>Copyright &copy; 2018 <a href="#" class="tran3s">Inobiz </a> Template by <a href="#" class="tran3s" target="_blank">Template_mr</a></p>
    </div> <!-- /.container -->
  </div> <!-- /.bottom-footer -->
</footer>

<!-- Scroll Top Button -->
<button class="scroll-top tran3s">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</button>
