<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  Business & Agency Template</title>

		{% module Template("admin/block/css.html") %}

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>




			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("admin/block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>Inpire Your Business, Our talent team member of business agency </p>
						<h2>Error</h2>
						<ul>
							<li><a href="/admin">Home</a></li>
							<li>.</li>
							<li><a href="#">Page</a></li>
							<li>.</li>
							<li>Error</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				Error Page
			==============================================
			-->
			<div class="error-page">
				<div class="container">
					<strong>4 <img src="{{ static_url('images/logo/icon2.png') }}" alt="">4</strong>
					<h4>This Page Could Not Be Found!</h4> <br>
					<a href="/admin" class="theme-button-one">Back to Home</a>
				</div> <!-- /.container -->
			</div> <!-- /.error-page -->


			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("admin/block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("admin/block/footer.html") %}


		<!-- Js File_________________________________ -->
		{% module Template("admin/block/js.html") %}

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
