<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  Business & Agency Template</title>

		{% module Template("admin/block/css.html") %}

		<style>
		.author{
			width:100%;
			display:block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		</style>
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>


			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("admin/block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>Inpire Your Business, Our talent team member of business agency </p>
						<h2>Our Blog</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li>.</li>
							<li><a href="#">Page</a></li>
							<li>.</li>
							<li>Blog</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				create article button
			==============================================
			-->
			<div class="bottom-banner">
			  <div class="container">
			    <div class="row">
			      <div class="col-md-9 col-sm-8 col-xs-12">
			        <h3>If you want to create new Article… Just touch on this button</h3>
			      </div>
			      <div class="col-md-3 col-sm-4 col-xs-12">
			        <a href="/admin/blog-create" class="theme-button-one float-right">Create Article</a>
			      </div>
			    </div>
			  </div> <!-- /.container -->
			</div> <!-- /.bottom-banner -->


			<!--
			=============================================
				Our Blog
			==============================================
			-->
			<div class="our-blog section-margin-bottom">
				<div class="container">
					<div id="articleRows" class="row">
					</div> <!-- /.row -->
					<div class="load-more-button text-center"><a href="#" class="theme-button-one">See More News</a></div>
				</div>
			</div> <!-- /.our-blog -->



			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("admin/block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("admin/block/footer.html") %}


		<!-- Js File_________________________________ -->
		{% module Template("admin/block/js.html") %}

		<script>
			function getLocalTime(nS) { //时间戳转换
				 var  d = new Date(parseInt(nS) * 1000);
				 var year = d.getFullYear();
				 var month = d.getMonth()+1;
				 var day = d.getDate();
				 var date_info = {"year":year+'年',"month":month+'月',"day":day+'日'};
				 return date_info;
			};

			var limit = 5;//每页显示数
			var currentPage = 0;//当前页
			var total_page = 0;//总页数
			function query(pageNum) {
				$.ajax({
					type:"GET",
					url:"/website/api/articles?page=1&limit="+limit+"",
          contentType: 'application/json',
					success:function(data){
								console.log(data);
								data_obj = JSON.parse(data);
								data = data_obj.rs;
								currentPage = 1;
						var pageData = data.data;
								total_page = data.total_page;//总页
						// num = ajaxobj.length;
						for (var i in pageData) {
							var inner_html = '<div class="col-md-4 col-sm-6 col-xs-12">';
							inner_html += '	<div class="single-blog">';
							inner_html += '		<div class="image"><img src="'+pageData[i].symbol.img+'!370x324" alt=""></div>';
							inner_html += '		<div class="text">';
							inner_html += '			<div class="date">'+getLocalTime(pageData[i].ctime).year+getLocalTime(pageData[i].ctime).month+getLocalTime(pageData[i].ctime).day+'</div>';
							inner_html += '			<a href="#" class="author">'+pageData[i].symbol.title+'</a>';
							inner_html += '			<a href="/admin/blog-details/'+pageData[i]._id+'" class="view-more"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>';
							inner_html += '		</div>';
							inner_html += '	</div>';
							inner_html += '</div>';

							$('#articleRows').append(inner_html);
							// member_num += 1;
						};
					if(total_page>5){
							for (var k=1;k<=5;k++){
								var inner_html = '<a class="navlinks" style="cursor:pointer;margin-left:5px;" id="num'+k+'">'+ k +'</a>';
								$(".pageBox").append(inner_html);
							};
						}else if(total_page<=5){
							for (var k=1;k<=total_page;k++){
								var inner_html = '<a class="navlinks"  style="cursor:pointer;margin-left:5px;" id="num'+k+'">'+ k +'</a>';
								$(".pageBox").append(inner_html);
							};
						}
						$("#num1").addClass("current");
					}
				});
			};

			function gotoPage(pageNum) {
				$.ajax({
					type:"GET",
					url:"/website/api/articles?page="+pageNum+"&limit="+limit+"",
					contentType: 'application/json',
					success:function(data){
								//  console.log(data);
								data_obj = JSON.parse(data);
								data = data_obj.rs;
								currentPage = pageNum;
						var pageData = data.data;
								total_page = data.total_page;//总页
						$('#articleBox').html("");

						for (var i in pageData) {
							var inner_html = '<div class="col-md-4 col-sm-6 col-xs-12">';
							inner_html += '	<div class="single-blog">';
							inner_html += '		<div class="image"><img src="'+pageData[i].symbol.img+'!370x324" alt=""></div>';
							inner_html += '		<div class="text">';
							inner_html += '			<div class="date">'+getLocalTime(pageData[i].ctime).year+getLocalTime(pageData[i].ctime).month+getLocalTime(pageData[i].ctime).day+'</div>';
							inner_html += '			<h4><a href="/admin/blog-details/'+pageData[i]._id+'">'+pageData[i].symbol.title+'</a></h4>';
							inner_html += '			<a href="#" class="author">'+pageData[i].symbol.title+'</a>';
							inner_html += '			<a href="/admin/blog-details/'+pageData[i]._id+'" class="view-more"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>';
							inner_html += '		</div>';
							inner_html += '	</div>';
							inner_html += '</div>';

							$('#articleRows').append(inner_html);
							// member_num += 1;
						};

						pageNext = parseInt((currentPage-1)/5) + 1;

						start = (pageNext-1)*5+1;
						end = pageNext*5;
						if(end > total_page){
							end = total_page;
						}

						$(".pageBox").html("");
						for (var k=start;k<=end;k++){
							var inner_html = '<a class="navlinks" style="cursor:pointer;margin-left:5px;" id="num'+k+'">'+ k +'</a>';

							$(".pageBox").append(inner_html);
						};
						 $("#num"+currentPage).addClass("current").siblings().removeClass("current");
						}
				});
			};

			$(function(){
				query(1);
				$("#next").on("click",function(){
						if(currentPage>=total_page){

						}else{
								gotoPage(++currentPage);
								// $("#num"+currentPage).addClass("current").siblings().removeClass("current");
						}
				})
			});
		</script>

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
