<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  Business & Agency Template</title>

		{% module Template("admin/block/css.html") %}

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>




			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("admin/block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>Inpire Your Business, Our talent team member of business agency </p>
						<h2>Faq</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li>.</li>
							<li><a href="#">Page</a></li>
							<li>.</li>
							<li>Faq</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				Faq Page
			==============================================
			-->
			<div class="faq-page section-margin-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="faq-panel">
								<div class="panel-group theme-accordion" id="accordion">
								  <div class="panel">
								    <div class="panel-heading active-panel">
								      <h5 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
								        Can I collect Social Security if I still have a job?</a>
								      </h5>
								    </div>
								    <div id="collapse1" class="panel-collapse collapse in">
								      <div class="panel-body">
								      	<p>Rorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> <br>
								      	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, Feugiat vitae, ultricies , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								      	<img src="{{ static_url('images/home/6.jpg') }}" alt="">
								      </div>
								    </div>
								  </div> <!-- /panel 1 -->
								  <div class="panel">
								    <div class="panel-heading">
								      <h5 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
								         Quickly maximize timely deliverables?</a>
								      </h5>
								    </div>
								    <div id="collapse2" class="panel-collapse collapse">
								      <div class="panel-body">
								      	<p>Rorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> <br>
								      	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, Feugiat vitae, ultricies , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								      	<img src="{{ static_url('images/home/6.jpg') }}" alt="">
								      </div>
								    </div>
								  </div> <!-- /panel 2 -->
								  <div class="panel">
								    <div class="panel-heading">
								      <h5 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
								        Do you give any offer for premium customer?</a>
								      </h5>
								    </div>
								    <div id="collapse3" class="panel-collapse collapse">
								      <div class="panel-body">
								      	<p>Rorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> <br>
								      	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, Feugiat vitae, ultricies , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								      	<img src="{{ static_url('images/home/6.jpg') }}" alt="">
								      </div>
								    </div>
								  </div> <!-- /panel 3 -->
								  <div class="panel">
								    <div class="panel-heading">
								      <h5 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
								        Waht makes your financial projects special?</a>
								      </h5>
								    </div>
								    <div id="collapse4" class="panel-collapse collapse">
								      <div class="panel-body">
								      	<p>Rorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> <br>
								      	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, Feugiat vitae, ultricies , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								      	<img src="{{ static_url('images/home/6.jpg') }}" alt="">
								      </div>
								    </div>
								  </div> <!-- /panel 4 -->
								</div> <!-- end #accordion -->
							</div> <!-- End of .faq-panel -->
						</div> <!-- /.col- -->

						<div class="col-md-6 col-xs-12">
							<div class="faq-panel">
								<div class="panel-group theme-accordion" id="accordionTwo">
								  <div class="panel">
								    <div class="panel-heading">
								      <h5 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse11">
								        About our company personal faq</a>
								      </h5>
								    </div>
								    <div id="collapse11" class="panel-collapse collapse">
								      <div class="panel-body">
								      	<p>Rorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> <br>
								      	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, Feugiat vitae, ultricies , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								      	<img src="{{ static_url('images/home/6.jpg') }}" alt="">
								      </div>
								    </div>
								  </div> <!-- /panel 1 -->
								  <div class="panel">
								    <div class="panel-heading">
								      <h5 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse21">
								         Completely synergize resource taxing?</a>
								      </h5>
								    </div>
								    <div id="collapse21" class="panel-collapse collapse">
								      <div class="panel-body">
								      	<p>Rorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> <br>
								      	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, Feugiat vitae, ultricies , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								      	<img src="{{ static_url('images/home/6.jpg') }}" alt="">
								      </div>
								    </div>
								  </div> <!-- /panel 2 -->
								  <div class="panel">
								    <div class="panel-heading">
								      <h5 class="panel-title">
								        <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse31">
								        How long will take us to raise capital?</a>
								      </h5>
								    </div>
								    <div id="collapse31" class="panel-collapse collapse">
								      <div class="panel-body">
								      	<p>Rorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> <br>
								      	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, Feugiat vitae, ultricies , tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
								      	<img src="{{ static_url('images/home/6.jpg') }}" alt="">
								      </div>
								    </div>
								  </div> <!-- /panel 3 -->
								</div> <!-- end #accordion -->
							</div> <!-- End of .faq-panel -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.faq-page -->




			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("admin/block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("admin/block/footer.html") %}


		<!-- Js File_________________________________ -->
		{% module Template("admin/block/js.html") %}

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
