<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  Business & Agency Template</title>

		{% module Template("admin/block/css.html") %}

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>




			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("admin/block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>Inpire Your Business, Make your business more productive, deliver lightning fast and more</p>
						<h2>Business Project</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li>.</li>
							<li><a href="#">Page</a></li>
							<li>.</li>
							<li>Project</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				Our Project
			==============================================
			-->
			<div class="our-project section-margin-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/1.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="#">Inobiz Business Inc.</a> <i class="flaticon-pie-chart"></i></h4>
									<p>Accounting, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/2.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="project-details.html">Chanze Renovation Inc.</a> <i class="flaticon-clipboard"></i></h4>
									<p>Business, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/3.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="project-details.html">Cllo Financial Inc.</a> <i class="flaticon-puzzle"></i></h4>
									<p>Services, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/4.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="project-details.html">Cllo approvals</a> <i class="flaticon-pie-chart"></i></h4>
									<p>Services, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/5.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="project-details.html">Research funding</a> <i class="flaticon-clipboard"></i></h4>
									<p>Services, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/6.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="project-details.html">Co Financial Inc.</a> <i class="flaticon-puzzle"></i></h4>
									<p>Services, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/7.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="project-details.html">Trading tips.</a> <i class="flaticon-pie-chart"></i></h4>
									<p>Services, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/8.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="project-details.html">Business Renovation Inc.</a> <i class="flaticon-clipboard"></i></h4>
									<p>Services, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-project">
								<div class="image"><img src="{{ static_url('images/project/9.jpg') }}" alt=""></div>

								<div class="text">
									<h4><a href="project-details.html">Io Business Inc.</a> <i class="flaticon-puzzle"></i></h4>
									<p>Services, Idea</p>
								</div> <!-- /.text -->
							</div> <!-- /.single-project -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->

					<div class="load-more-button text-center"><a href="#" class="theme-button-one">See more project</a></div>
				</div> <!-- /.container -->
			</div> <!-- /.our-project -->



			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("admin/block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("admin/block/footer.html") %}


		<!-- Js File_________________________________ -->
		{% module Template("admin/block/js.html") %}

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
