<footer class="theme-footer">
  <div class="container">
    <div class="top-footer row">
      <div class="col-md-4 col-sm-6 col-xs-12 footer-logo">
        <a href="#"><img src="{{ static_url('images/logo/logo.png') }}" alt="Logo"></a>
        <p>提供中小企业建立网站的咨询和服务。帮助中小企业用户选择自己的门户（静态网站、动态信息发布网站、独立电商、联盟电商平台），提供购买域名、上千种网页模版选择、简单的信息发布、独立电商、综合的电商平台，各种中小企业IT解决方案。</p>
        <h5>关注我们</h5>
        <ul>
          <li><a href="https://github.com/CyberlifeCN" class="tran3s"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
      </div> <!-- /.footer-logo -->

      <div class="col-md-2 col-sm-3 col-xs-12 footer-list">
        <h5>关于我们</h5>
        <ul>
          <li><a href="/" class="tran3s">首页</a></li>
          <li><a href="/service" class="tran3s">解决方案</a></li>
          <li><a href="/project" class="tran3s">成功案例 </a></li>
          <li><a href="/blog-grid" class="tran3s">新闻</a></li>
          <li><a href="/contact" class="tran3s">联系我们</a></li>
        </ul>
      </div> <!-- /.footer-list -->
      <div class="col-md-2 col-sm-3 col-xs-12 footer-list">
        <h5>常用链接</h5>
        <ul>
          <li><a href="http://blog.cyber-life.cn" class="tran3s">技术博客</a></li>
          <li><a href="/publish-agreement" class="tran3s">免责声明</a></li>
          <li><a href="/privacy-statement" class="tran3s">隐私条款</a></li>
          <li><a href="/end-user-license-agreement" class="tran3s">最终用户许可协议</a></li>
        </ul>
      </div> <!-- /.footer-list -->

      <div class="col-md-4 col-xs-12 Subscribe">
        <h5>订阅</h5>
        <p>请输入电子邮箱地址，网站内容更新会及时通知您</p>
        <form action="#">
          <input type="email" placeholder="Email">
          <button><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
        </form>
        <p>工作日 :  周一到周六 <br> 休息日 : 周日</p>
      </div> <!-- /.Subscribe -->
    </div> <!-- /.top-footer -->
  </div> <!-- /.container -->

  <div class="bottom-footer">
    <div class="container">
      <p>Copyright &copy; 2018 <a href="#" class="tran3s">cyber-life.cn </a> </p>
    </div> <!-- /.container -->
  </div> <!-- /.bottom-footer -->
</footer>

<!-- Scroll Top Button -->
<button class="scroll-top tran3s">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</button>
