<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  Business & Agency Template</title>

		{% module Template("block/css.html") %}

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>




			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>Inpire Your Business, Our talent team member of business agency </p>
						<h2>Our Blog</h2>
						<ul>
							<li><a href="/">首页</a></li>
							<li>.</li>
							<li>新闻</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				Our Blog
			==============================================
			-->
			<div id="main" class="our-blog section-margin-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12" v-for="(data,index) in datas" :key="index">
							<div class="single-blog">
								<div class="image"><img :src="data.symbol.img" alt=""></div>
								<div class="text">
									<div class="date">{[ timestampToDatetime(data.mtime*1000) ]}</div>
									<h4><a @click="detail(data._id)">{[ data.symbol.title ]}</a></h4>
									<a href="#" class="author"></a>
									<a @click="detail(data._id)" class="view-more"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
								</div>
							</div> <!-- /.single-blog -->
						</div>
					</div> <!-- /.row -->
					<div class="load-more-button text-center"><a @click="fetchDatas()" class="theme-button-one">See More News</a></div>
				</div>
			</div> <!-- /.our-blog -->



			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("block/footer.html") %}

		</div> <!-- /.main-page-wrapper -->

		<!-- Js File_________________________________ -->
		{% module Template("block/js.html") %}

		<!-- j Query -->
		{% module Template("block/js.html") %}
		<script src="{{ static_url('weui/js/jquery-weui.min.js') }}"></script>
		<script src="{{ static_url('vue/vue.min.js') }}"></script>

		<script type="text/javascript">
        $.toast.prototype.defaults.duration = 1200;
        let app = new Vue({
            el: '#main',
            delimiters: ['{[', ']}'],
            data() {
                return {
                    limit: 12,
                    datas: [],
										pageNum: 1,
                }
            },
            computed: {
            },
            methods: {
                fetchDatas() {
                    _this = this
                    $.ajax({
                        type: "GET",
                        url: `/website/api/categories/db957c6ed38611e8be700017fa03296f/articles?limit=${_this.limit}&page=${_this.pageNum}`,
                        dataType: "json",
                        success: (data) => {
                            switch (data.errCode) {
                                case 200:
																		console.log(data);
																		var array = data.rs.data;
																		for (var i=0;i<array.length;i++) {
																				array[i].symbol.img = array[i].symbol.img+"!370x207";
																				_this.datas.push(array[i]);
																		}
																		this.pageNum++;
                                    break;
                                case 401:
                                    $.toast("查询失败,权限错误[errCode:401]", "forbidden");
                                    break;
                                case 500:
                                    $.toast("查询失败,未知服务器错误[errorCode:500]", "forbidden");
                                    break;
                            }
                        },
                        error: () => {
                            $.toast("查询失败,请检查网络连接", "forbidden");
                        }
                    })
                },
                detail(uuid) {
                    window.location.href = '/blog-details/'+uuid;
                },
								timestampToDatetime(timestamp) {
                    return new Date(parseInt(timestamp)).toLocaleString().replace(/:\d{1,2}$/, ' ');
                },
            },
            mounted() {
                this.fetchDatas();
            }
        });
    </script>
	</body>
</html>
