<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  Business & Agency Template</title>

		{% module Template("block/css.html") %}

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>


			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>遇到任何商务、技术问题… 请留下信息</p>
						<h2>联系我们</h2>
						<ul>
							<li><a href="/">首页</a></li>
							<li>.</li>
							<li>联系我们</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				Contact Form
			==============================================
			-->
			<div class="contact-form section-margin-bottom">
				<div class="container">
					<form action="inc/sendemail.php" class="form-validation" autocomplete="off">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<input type="email" placeholder="电子邮箱 或 电话号码" id="email">
							</div>
						</div> <!-- /.row -->
						<textarea placeholder="您的问题" id="message"></textarea>
						<button id="sendMessageBtn" class="theme-button-one p-bg-color">发送给我们</button>
					</form>

					<!--Contact Form Validation Markup -->
					<!-- Contact alert -->
					<div class="alert-wrapper" id="alert-success">
						<div id="success">
							<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
							<div class="wrapper">
				               	<p id="success-message">留言成功，我们会在8小时内回复您邮件！</p>
				             </div>
				        </div>
				    </div> <!-- End of .alert-wrapper -->
				    <div class="alert-wrapper" id="alert-error">
				        <div id="error">
				           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
				           	<div class="wrapper">
				               	<p>对不起，信息填写不完整！</p>
				            </div>
				        </div>
				    </div> <!-- End of .alert-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.contact-form -->



			<!--
			=============================================
				Contact Address
			==============================================
			-->
			<div class="contact-address section-margin-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12 address-list float-right">
							<ul class="address">
								<li>
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									北京市朝阳区关东店11号楼四楼（呼家楼集中办公区144号）
								</li>
								<li>
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									support@cyber-life.cn
								</li>
								<li>
									<i class="fa fa-phone" aria-hidden="true"></i>
									+18625219583
								</li>
							</ul>
							<ul class="icon">
								<li><a href="https://github.com/CyberlifeCN" class="tran3s"><i class="fa fa-github" aria-hidden="true"></i></a></li>
							</ul>
						</div> <!-- /.address-list -->

						<div class="col-md-8 col-sm-6 col-xs-12">
							<!-- Google Map _______________________ -->
							<div class="map-canvas"></div>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.contact-address -->



			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("block/footer.html") %}


		<!-- Js File_________________________________ -->
		{% module Template("block/js.html") %}

		<!-- Validation -->
		<script type="text/javascript" src="{{ static_url('vendor/contact-form/validate.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('vendor/contact-form/jquery.form.js') }}"></script>

		</div> <!-- /.main-page-wrapper -->
	</body>
	<script>
		$(function() {
			// 添加留言操作
			$('#sendMessageBtn').on('click',function(){
				var email = $('#email').val();
				var message = $('#message').val();

				if(email == "" || message == ""){
					$("#alert-error").show();
					return false;
				}else{
					var data = {
						email: email,
						content: message,
					};
					var json = JSON.stringify(data);

					$.ajax({
						type: "POST",
						url: "/contact/api/messages",
						dataType: "json",
						data: json,
						contentType: 'application/json',
						success: function(data, status, xhr) {
							$("#email").val("");
							$("#message").val("");
							$("#alert-success").show();
							return true;
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							console.log("XMLHttpRequest.status:" + XMLHttpRequest.status);
						},
						complete: function(XMLHttpRequest, textStatus) {
							this; // 调用本次AJAX请求时传递的options参数
						}
					});
				}
			})
		});
	</script>
</html>
