<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  End User License Agreement</title>

		{% module Template("block/css.html") %}

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>




			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>Inpire Your Business, Our talent team member of business agency </p>
						<h2>最终用户许可协议</h2>
						<ul>
							<li><a href="/">首页</a></li>
							<li>.</li>
							<li>最终用户许可协议</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				Contact Form
			==============================================
			-->
			<div class="contact-form section-margin-bottom">
				<div class="container">
					<div class="text-left">
						<h2>最终用户许可协议</h2>

						<p>请详细阅读本最终用户许可协议（“本协议”）。通过点击“本人同意”或采取任何步骤下载、设置、安装或使用本产品的全部或任何部分（包括但不限于软件及相关文件（“有关软件”）、硬件（“有关硬件”）、磁盘 或其它媒体）（统称“本产品”）, 您或您的公司即为接受本协议的全部条款及条件。如果您是一名个人, 您必须达到您居住地司法管辖区规定的成年人年龄, 方可签订本协议。 倘若您购买产品供您的公司使用, 您声明您是一名经授权代表, 拥有权限使您的公司在法律上受本协议之约束。倘若您不同意, 不要点击“本人同意”, 亦不要下载、设置、安装或使用有关软件。
						</p>

						<h5>所有权</h5>

						<p>北京远博畅享科技有限公司（以下简称为“cyber-life.cn”）。本协议 适用于 cyber-life.cn、以及受控于或控制 cyber-life.cn 或与之处于共同控制之下的关联公司的软件与产品。cyber-life.cn 及其供应商拥有有关软件的一切权利、所有权及权益, 包括其一切知识产权权利。有关软件乃许可给您使用, 而非售卖。有关软件的结构、组织和代码均为 cyber-life.cn 及其供应商的有价值的商业秘密和保密信息。有关软件受著作权及其它知识产权法律和条约保护, 包括但不限于中华人民共和国及其他国家的著作权法。“软件”一词不指代也不包括“第三方软件”。“第三方软件”表示由 cyber-life.cn 授权的第三方软件，它可能随您已获授权的特定版本软件一起提供。第三方软件通常不受下述条款的管辖，但需遵守此类第三方软件授权者规定的其它条款和条件。第三方软件的使用条款受各自授权条款的约束与管辖。
						</p>

						<h5>使用许可</h5>

						<p>在您遵守本协议的条款的前提下, cyber-life.cn 授予您一项个人的、非独占性、不可转让和有限制的许可, 以在您的场所的一 (1) 个装置上, 为相关文档中所述内部用途以及仅为该等用途安装和使用一 (1) 份有关软件的副本。对随本产品提供的 媒体中包含的某些第三方软件的使用, 可能须遵守在另外的单独许可协议中的条款及条件; 该许可协议可能包含在置于随本产品提供的 媒体上的“Read Me” 文件。软件包括一些组件，可让您链接并使用某些第三方服务（“第三方服务”）。您需要根据与第三方服务提供商订立的适用协议使用第三方服务除本协议中明示规定者外, 本协议没有向您授予任何对本产品的知识产权。cyber-life.cn 及其供应商保留一切未明示授予您的权利。并不存在默示权利。
						</p>
						<p>有关软件。您还获准严格为了作为备份和灾难恢复用途而制作有关软件的副本一份。您不得更改或修改有关软件或为有关软件制定新的安装程序。有关软件由cyber-life.cn 许可和分发, 并仅供用于其存储产品而已, 不得与非 cyber-life.cn 存储产品一起使用。
						</p>

						<h5>限制</h5>

						<p>您未获下列任何一项行动的许可:
						</p>

						<li>1.以本产品或其任何部分或组件（包括但不限于有关软件）创作任何衍生产品;</li>
						<li>2. 复制本产品的全部或部分;</li>
						<li>3. 向任何第三方全部或部分出售、转让以及许可使用。</li>
						<li>4. 对本产品或其任何部分或组件做出更改、翻译及编译或试图进行逆向工程, 但即使有此合同性禁止, 如适用法律明示准许上述活动及在该准许的范围内, 则除外;</li>
						<li>5. 使用本产品向第三方提供服务;</li>

						<h5>更新</h5>

						<p>倘若您收到任何有关软件的某个更新或升级版本或其新版本 (“更新版本”) , 您必须拥有对之前版本的有效许可证才可使用该更新版本。所有向您提供的更新版本均须符合本协议的条款及条件倘若您收到更新版本, 您可以继续使用您占有﹑保管或控制的有关软件的之前版本。 在提供更新版本之后, cyber-life.cn 概无义务为有关软件之前版本提供支持。cyber-life.cn 没有义务根据本协议提供支持、维护、更新版本或更改。
						</p>

						<h5>没有保证</h5>

						<p>在适用法律准许的最大范围内, 本产品及第三方软件按“现状”提供并且没有提供任何明示或默示的保证。cyber-life.cn 及其供应商明示否认不论是法定、明示或默示的一切任何种类的保证, 包括但不限于有关可销售性、适合某个特定用途及不侵权的默示保证。cyber-life.cn 不提供第三方服务，也不对第三方服务作任何担保。您在使用第三方服务时须自担风险。
						</p>

						<h5>赔偿</h5>

						<p>排除附带性、后果性和某些其它损害赔偿。在适用法律准许的最大范围内, 在任何情况下, cyber-life.cn 或其许可方或供应商均无须对任何由于使用或未能使用本产品或其任何部分或组件或相关服务或第三方服务而引起的或在任何方面与之有关的或者根据本协议任何条文或与之有关的特别的、附带、惩罚性、间接或后果性损害赔偿（包括但不限于利润损失或失去保密或其他信息、业务中断或人身伤害、失去隐私、未能履行任何职责（包括诚信职责或合理慬慎）、过失以及任何其它经济损失或任何其它损失的损害赔偿）负责, 即使是在 cyber-life.cn 或其许可方或供应商的过错、侵权（包括过失）、与事实不符的陈述﹑严格责任、违反合同或违反 cyber-life.cn 或其供应商的保证的情况下, 而且即使 cyber-life.cn 或其供应商已获通知上述损害赔偿的可能性, 以及即使本协议的基本目的或任何补救措施失败亦然。
						</p>

						<h5>责任限度</h5>

						<p>即使您可能因任何原因发生任何损害赔偿, 并在适用法律准许的范围内, cyber-life.cn 在本协议任何条文下的全部责任以及您在本协议项下的唯一补救措施应限于而且 cyber-life.cn 的所有累积损害赔偿在任何情况下都不会超出被许可人就本产品支付给 cyber-life.cn 的费用。此外，在任何情况下，cyber-life.cn 的授权者或提供商不对任何类型的损坏负责。
						</p>

						<h5>隐私权</h5>

						<p>本协议 根据 cyber-life.cn 的“隐私权政策”收集、使用和披露与您使用本产品有关的个人身份信息，该政策内容位于https://www.cloudancing.cn/privacy-statement.html。
						</p>

						<h5>补偿</h5>

						<p>您通过接受本协议同意就由于您使用本产品或以任何其它方式与本产品相关的事宜而引起、与之有关或导致的任何直接、间接、附带的、特殊的、后果性或惩戒性的损害赔偿, 向 cyber-life.cn 及其高级人员、雇员、代理人、附属公司、关联公司及其他合伙人作出补偿并以其他方式使其免受损害，包括但不限于对任何第三方服务的使用。
						</p>

						<h5>总则</h5>

						<p>被许可人 和 cyber-life.cn 签订的本协议受中华人民共和国的法律管辖并按其解释, 无须理会法律冲突原则。本协议构成 cyber-life.cn 和您之间有关本产品的全部协议并适用您对本产品的使用, 取代您与 cyber-life.cn 之间有关本协议标的之任何先前协议。如果本协议的任何条文被有管辖权的法院裁定为违法, 该条文将被更改和予以解释, 以在法律准许的最大范围内实现原条文的宗旨, 而且本协议的其余条文将继续有效。本产品及任何相关技术数据是按受限制的权利提供的。制造商是 cyber-life.cn。您不得转让或出让本协议或本协议项下的任何权利, 但您可将本协议及有关软件一次性永久地转让给另一最终用户, 条件是：(i) 您不得保留有关软件﹑有关硬件﹑媒体及印刷品﹑更新版本（如有）及本协议的任何复制本, 及 收取本协议和有关软件的最终用户须在转让前同意本协议所有条款。任何试图违反本条规定的转让行动均为无效。cyber-life.cn 标记及其它 cyber-life.cn 名称和标志均为 cyber-life.cn 的商标。
						</p>

					</div>

				</div> <!-- /.container -->
			</div> <!-- /.contact-form -->



			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("block/footer.html") %}


		<!-- Js File_________________________________ -->
		{% module Template("block/js.html") %}

		<!-- Validation -->
		<script type="text/javascript" src="{{ static_url('vendor/contact-form/validate.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('vendor/contact-form/jquery.form.js') }}"></script>

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
