<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  Privacy Statement</title>

		{% module Template("block/css.html") %}

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>




			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>Inpire Your Business, Our talent team member of business agency </p>
						<h2>隐私条款</h2>
						<ul>
							<li><a href="/">首页</a></li>
							<li>.</li>
							<li>隐私条款</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				Contact Form
			==============================================
			-->
			<div class="contact-form section-margin-bottom">
				<div class="container">
					<div class="text-left">
						<h2>隐私条款</h2>

						<p>北京远博畅享科技有限公司（以下简称为“cyber-life.cn”）深知个人隐私的重要性，因此将竭力确保本网站收集到的个人信息只用于本《cyber-life.cn 隐私条款》（以下简称为“本条款”）中所规定的用途。
						</p>
						<p>本条款阐述了 cyber-life.cn 在处理可能通过本网站收集到的个人信息方面的政策。使用本网站的用户同意 cyber-life.cn 对相关信息的采集与使用。一旦您注册成为 cyber-life.cn 网站会员，本条款自动适用，并始终有效。本条款适用于您对 cyber-life.cn 服务的使用，无论您是使用计算机、手机、平板电脑、电视还是其他设备访问我们的服务，本条款也一概适用。
						</p>

						<h5>第1条 我们会收集您的哪些信息</h5>
						<h6>1.1 您直接提供的信息</h6>
						<p>某些服务会要求您直接向我们提供信息。例如：
						</p>

						<li>1）建立账户、注册产品或服务</li>
						<p>我们的许多服务需要用户创建帐户或提交个人资料。在创建账户并登陆和使用过程中或注册产品、服务时，我们可能会要求您提供某些个人信息（包括但不限于您的姓名、电话号码、电子邮件地址、支付方式、银行卡或信用卡信息、第三方社交账户信息等），以便设置帐户或个人资料。例如，当您注册云安行会员时，可能需要提交某些个人信息。
						</p>
						<li>2）订购产品</li>
						<p>如果您向我们订购产品或服务，我们可能会询问您的姓名、联系信息、配送/服务地址和账单地址以及银行卡或信用卡等信息，以便处理您的订单。如果您向我们提出退货申请，且您的支付方式为货到付款时，为了帮助您及时办理退款操作，我们会询问您的退款账号、持卡人姓名、开户行（精确到支行）等信息。当您向我们提供上述信息时，即视为您已明示同意并授权我们收集和利用。
						</p>
						<li>3）参加促销活动或市场调查</li>
						<p>在取得您的同意后，我们可能会要求您提交必要信息，例如您的所在地区、姓名、性别、电话号码、电子邮件地址、购买计划等，以便了解您的需求、参加我们的促销活动或市场调查等。
						</p>
						<p>当您向我们提供上述信息时，即视为您已明示同意并授权我们收集和利用。 您可以在网站上拒绝、关闭此类选项，来拒绝我们使用您的信息。
						</p>

						<h6>1.2 有关服务使用情况的信息</h6>

						<p>除了您提供的信息以外，我们还可能通过您设备中的软件以及其他方式来收集您使用我们的服务的相关信息。例如，我们可能收集：
						</p>
						<p>设备信息—例如硬件型号、IMEI 号码和其他唯一设备标识符、MAC 地址、IP 地址、操作系统版本以及用于访问服务的设备的设置。
						</p>
						<p>日志信息—例如使用服务的时间和持续时间、通过服务输入的搜索查询字词，以及设备上设置的 Cookie 中所存储的任何信息。
						</p>
						<p>位置信息—例如设备的 GPS 信号或附近的 WiFi 接入点和手机信号发射塔的相关信息，这些信息可能会在您使用某些服务时传送给我们。
						</p>
						<p>有关您使用服务的其他信息，例如所使用的应用程序、访问的网站以及如何与通过服务提供的内容交互。
						</p>

						<h6>1.3 第三方来源信息</h6>

						<p>我们可能从公开来源获得您的信息（在法律允许的情况下），并可能将其与与您有关的其他信息组合。如果您选择连接第三方社交网络服务，我们也可能从这些服务获得您的信息。当您通过连接第三方社交网络平台按提示信息进行登陆授权时，即视为您已明示同意并授权我们收集和利用您在第三方社交网络平台中的相关信息。
						</p>
						<p>我们也可能通过其他方式搜集有关您、您的设备或使用服务情况的其他信息，这些方式会在收集时向您说明，或者征得您的同意。您可以在网站上拒绝、关闭此类选项，或拒绝对我们收集信息进行授权，来拒绝我们使用您的信息。
						</p>

						<h6>1.4 信息的提供和变更</h6>

						<p>为保证您能及时收到或享受我们为您提供的产品或服务，在注册或激活流程时，请您依照法律法规要求，按相应页面的提示准确提供您的信息，并于信息变更时及时更新，以保证您所提交资料的真实、及时、完整和准确。您应该对您提交的个人信息的准确性负责，我们也将近合理努力确保您的信息的准确性。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，我们有权向您发出询问及要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部服务。我们对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。
						</p>
						<p>请您准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便我们与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用 cyber-life.cn 网站过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的真实性和有效性，如有变更或需要更新的，您应按我们的要求进行操作。
						</p>

						<h5>第2条 我们如何使用您的信息</h5>
						<h6>2.1我们使用您的信息的目的</h6>

						<p>我们收集和使用这些信息的目的是为您提供人性化用户体验、提供个性化产品和服务、改善产品、服务质量、满足您的需求。
						</p>

						<h6>2.2我们可能将所收集的信息用于以下用途</h6>
						<li>1) 为您或您的设备进行服务注册；</li>
						<li>2) 提供您请求的服务或功能；</li>
						<li>3) 提供定制内容并根据您过去使用我们的服务的活动进行推荐；</li>
						<li>4) 广告，例如提供定制广告和赞助内容并向您发送促销信息；</li>
						<li>5) 评估和分析市场、客户、产品及服务（包括询问您对我们的产品和服务的意见，以及进行客户调查）；</li>
						<li>6) 了解用户使用我们的服务的方式，以便我们改善服务并开发新产品和服务；</li>
						<li>7) 为您的设备提供维护服务；</li>
						<li>8) 在法律允许的情况下进行免费抽奖、有奖竞赛或促销；</li>
						<li>9) 征得您同意的其他用途。</li>

						<h5>第3条 我们如何披露您的信息</h5>
						<h6>3.1 您已明确同意。在得到您的批准后，我们才会将您的个人数据透露给其他公司；</h6>
						<h6>3.2 将您的个人数据披露给 cyber-life.cn 子公司或授权合作的第三方。我们可能需要通过某些合作方为您提供某些服务，因此我们需要将您的部分个人数据共享给合作方，以便丰富我们的服务以及满足您的需求。例如，当您决定购买产品时，我们可能将您的个人信息提交给相关物流厂商，如此这些厂商才能将产品送达给您，或是允许我们的合作方提供其他客户服务给您。我们严格禁止我们的子公司或授权第三方，将共享的信息用于其他目的。</h6>
						<h6>3.3 依法律要求，披露您的个人信息。依法律、诉讼、司法机关或政府机关的要求，我们可能会提供您的个人信息。如我们涉及重组、合并或清算的情况下，您的个人信息可能也会提供给交易方。</h6>

						<h5>第4条 我们如何保护您的信息安全</h5>

						<p>我们采取了合理的实际措施和技术措施，以保护所收集的与服务有关的信息。但是请注意，虽然我们采取了合理的措施保护您的信息，但没有任何网站、Internet 传输、计算机系统或无线连接是绝对安全的。
						</p>

						<h5>第5条 我们如何保护未成年人的信息</h5>

						<p>如果法律有相关规定，我们将不会未征得监护人同意而收集未成年人的个人数据。我们只会在法律允许的范围内，或依当地法律取得监护人的同意，或是为保护未成年人而使用或披露有关未成年人的个人数据。“未成年人”的定义应考虑适用的法律，以及各国家和地区的文化惯例。
						</p>

						<h6>5.1 同意跨国数据传输</h6>

						<p>使用或加入任何服务和/或向我们提供您的信息，即表示您同意我们依照本隐私政策在您所居住国家/地区之外收集、传输、存储和处理您的信息。请注意，您的信息可能传输到数据保护和其他法律不如您所在国家/地区完备的国家/地区。 但在这种情况下，我们将采取措施对您的信息进行适当的保护。
						</p>

						<h6>5.2 访问您的信息</h6>

						<p>根据某些司法辖区的法律，您可能有权要求了解有关我们所收集的信息的细节以及更正该信息中不准确之处。其它法律权益不受影响。如果法律允许，我们可能向您收取少量信息访问费用。我们可能会拒绝处理重复次数不合情理、需要不成比例的技术努力、危及他人的隐私、极其不切实际或非当地法律另有规定的访问请求。
						</p>

						<h6>5.3 数据保留</h6>

						<p>我们采取合理的措施，以确保您的信息仅保留至收集目的所需时间，或者任何合同或适用法律要求的时间。
						</p>

						<h6>5.4 用户账户自我保护</h6>

						<p>您须自行负责对您的账户登录名、昵称和密码保密，且须对您在该登录名、昵称和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。您同意：(a) 如发现任何人未经授权使用您的账户登录名、昵称和密码，或发生违反保密规定的任何其他情况，您会立即通知我们，并授权我们将该信息同步给 cyber-life.cn 网站；及 (b) 确保您在每个上网时段结束时，以正确步骤离开网站/服务。我们不能也不会对因您未能遵守本款规定而发生的任何损失负责。您理解我们对您的请求采取行动需要合理时间，我们对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。
						</p>

						<h5>第6条 与第三方网站的连接</h5>

						<p>云安行会使用连接至其他互联网网站的链接来改进您的云安行网站使用体验。为使此类链接清晰可用，在您点击链接时，您的浏览器将为链接另开一个新窗口。您可以选择是否访问是否访问这些链接，是否使用第三方网站的产品或服务。请注意，这些网站可能由其他公司和组织所有并负责运营。云安行不支持任何此类网站，也不对任何此类网站包含的或能够通过访问该网站所接触到的信息、资料、产品或服务及此类网站的任何隐私权和数据保护措施承担任何责任。对此类网站的访问与使用所产生的风险完全由您自行承担。我们不对您泄露给链接网站的任何信息负责。
						</p>
						<p>请注意，云安行隐私政策的适用范围不包括此类其他网站，云安行建议您了解此类网站的具体规定。
						</p>

						<h5>第7条 您的权利</h5>

						<p>如果您通过我们的网站表示了明确同意，我们将随时使用您的数据为您提供有关云安行产品或服务的资料，此类资料可能通过电子邮件向您提供。您有权要求我们停止将您的数据用于营销目的。您可以通过发送邮件至support@cyber-life.cn，通知我们停止将您的数据用于营销目的。
						</p>

						<h5>第8条 Cookie、信标和类似技术</h5>

						<p>我们以及通过我们的服务提供内容、广告或其他功能的某些第三方可能在服务的某些范围内使用 Cookie、信标和其他技术。
						</p>

						<h6>8.1 Cookie</h6>

						<p>Cookie 是计算机、电视、手机或其他设备上存储信息的小文件。在您的设备上放置 Cookie 的实体可以通过 Cookie 在不同网站、服务、设备和/或浏览会话中识别您。Cookie 具有许多用途。例如：
						</p>

						<li>1) Cookie 可以记住您的登录凭据，这样您就不必在每次登录服务时都输入这些凭据。</li>
						<li>2) Cookie 帮助我们和第三方了解我们的哪部分服务最受欢迎，因为 Cookie 有助于我们查看访问者访问的是哪些页面和功能，以及在这些页面上花费多长时间。了解此类信息后，我们就能更有效地改善服务并为您提供更好的体验。</li>
						<li>3) Cookie 帮助我们和第三方了解您观看了哪些广告，这样您就不会在每次访问服务时都收到相同的广告。</li>
						<li>4) Cookie 通过收集您使用我们的服务以及其他网站和应用程序的信息，帮助我们和第三方为您提供相关的内容和广告。</li>
						<li>5) 如果您使用 Web 浏览器访问服务，可以将浏览器配置为接受所有 Cookie、拒绝所有 Cookie 或发送 Cookie 时通知您。每种浏览器都是不同的，因此请查看浏览器的"帮助"菜单以了解如何更改您的 Cookie 首选项。您的设备的操作系统可能包含其他 Cookie 控件。</li>

						<p>但是请注意，某些服务可能设计为使用 Cookie 进行工作，禁用 Cookie 可能会影响您使用这些服务或其中部分服务的能力。
						</p>

						<h6>8.2 其他本地存储</h6>

						<p>我们以及某些第三方可能使用与我们服务有关的其他本地存储技术类型，例如本地共享对象（又称"Flash Cookie"）和 HTML5 本地存储。这些技术与以上所述的 Cookie 类似，因为它们存储在您的设备中，并且可用于存储有关您的活动和首选项的某些信息。但是，这些技术使用的设备部分可能与标准 Cookie 不同，因此您可能无法使用标准浏览器工具和设置来控制它们。
						</p>

						<h6>8.3 信标</h6>

						<p>我们以及某些第三方也可能使用称为信标（或"像素"）的技术，将信息从您的设备传送到服务器。信标可以嵌入在线内容、视频和电子邮件中，并且可允许服务器从您的设备读取某些类型的信息，了解您何时查看了特定的内容或特定的电子邮件信息，确定您查看信标的时间和日期以及设备的 IP 地址。我们以及某些第三方将信标用于多种用途，包括分析服务使用情况以及（与 Cookie 配合使用）提供更符合您需求的内容及广告。
						</p>
						<p>访问和使用我们的服务，即表示您同意在您的设备上存储 Cookie、其他本地存储技术、信标和其他信息。此外，您也同意我们和上述第三方访问此类 Cookie、本地存储技术、信标和信息。
						</p>

						<h5>第9条 用户管理</h5>

						<p>本协议依据国家相关法律法规规章制定，用户同意严格遵守以下条款：
						</p>

						<li>1) 从中国境内向外传输技术性资料时必须符合中国有关法规。</li>
						<li>2) 不利用本站从事非法活动。</li>
						<li>3) 不干扰或混乱网络服务。</li>
						<li>4) 遵守所有使用网络服务的网络协议、规定、程序和惯例。</li>

						<p>用户须承诺不传输任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料；不传输损害国家社会公共利益和涉及国家安全的信息资料；不传输教唆他人从事本条所述行为的信息资料。
						</p>
						<p>未经许可而非法进入其它电脑系统是禁止的。
						</p>
						<p>若用户的行为不符合以上提到的服务条款，本站将作出独立判断立即取消用户服务帐号。用户需对自己在网上的行为承担法律责任。用户若在本站上散布和传播反动、色情或其它违反国家法律的信息，本站的系统记录有可能作为用户违反法律的证据。
						</p>

						<h5>第10条 网络服务内容的所有权</h5>

						<p>本站定义的网络服务内容包括：文字、软件、声音、图片、录象、图表、广告中的全部内容；电子邮件的全部内容；本站为用户提供的其它信息。所有这些内容受版权、商标、标签和其它财产所有权法律的保护。所以，用户只能在本站和广告商授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。本站所有的文章版权归原文作者和本站共同所有，任何人需要转载本站的文章，必须征得原文作者和本站授权。
						</p>

						<h5>第11条 责任限制</h5>

						<p>如因不可抗力或其它本站无法控制的原因使本站系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等本站会尽可能合理地协助处理善后事宜，并尽最大努力使客户免受损失。如因不可抗力及其他非云安行原因给您带来损失，云安行将不承担赔偿责任。
						</p>

						<h5>第12条 信息获取</h5>

						<p>您可以随时登陆我们的网站查看和更改有关您的任何信息，如姓名、地址、电话号码或电子邮件信箱等，以确保您个人信息的准确性。其他人无权修改或删除您发布的信息，但您将账户、密码透露给他人，或由于黑客攻击、计算机病毒等影响网络正常运营之不可抗力而造成的个人资料丢失，盗用或纂改等情况除外。如果您要求修改或删除与您有关的信息，请通过电子邮件向 support@cyber-life.cn 发送书面请求。
						</p>

						<h5>第13条 隐私政策修改</h5>

						<p>云安行保留随时修改隐私政策的权利。隐私政策的最新版本将在云安行网站上公布，同时公布修正日期，以便于您了解隐私政策的最后更新时间。在任何该等更改后，如您继续使用本网站，将视为您同意本网站从您处获得的或与您有关的所有信息在更改的隐私政策公告后，将受制于更改后的隐私政策。
						</p>

						<h5>第14条 法律管辖和争议解决</h5>

						<p>本隐私政策受中华人民共和国法律管辖（为本政策之目的，不包括香港特别行政区、澳门特别行政区和台湾法律）。如本政策内容与相关法律规定相抵触的，以法律规定为准。本隐私政策为可分割的，被判决或裁定为无效的本隐私政策内容，不影响其他内容的有效性。本协议的订立、执行和解释及争议的解决均应适用中国法律。如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向北京市朝阳区人民法院提起诉讼。
						</p>
						<p>本政策的最后更新日期为2018年12月23日。
						</p>

						<h5>第15条 联系我们</h5>

						<p>如果您对我们的隐私政策有任何疑问、建议或意见，请通过邮箱 support@cyber-life.cn 与我们联系。如果您希望获得此隐私声明的电子版，也可通过此邮箱与我们联系。
						</p>
						<p>下面是我们的全称、地址及联系电话：
						</p>
						<p>名称：北京远博畅享科技有限公司
						</p>
						<p>地址：北京市朝阳区关东店11号楼四楼（呼家楼集中办公区144号）
						</p>
						<p>联系邮箱：support@cyber-life.cn
						</p>
					</div>

				</div> <!-- /.container -->
			</div> <!-- /.contact-form -->



			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("block/footer.html") %}


		<!-- Js File_________________________________ -->
		{% module Template("block/js.html") %}

		<!-- Validation -->
		<script type="text/javascript" src="{{ static_url('vendor/contact-form/validate.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('vendor/contact-form/jquery.form.js') }}"></script>

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
