<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>inobiz -  Business & Agency Template</title>

		{% module Template("block/css.html") %}

	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>




			<!--
			=============================================
				Theme Header
			==============================================
			-->
			<header class="theme-menu-wrapper">
				<div class="container">

					<div class="header-wrapper clearfix">

						{% module Template("block/menu-banner.html") %}

					</div> <!-- /.header-wrapper -->
				</div> <!-- /.container -->
			</header> <!-- /.theme-menu-wrapper -->


			<!--
			=============================================
				Theme Inner Banner
			==============================================
			-->
			<div class="theme-inner-banner">
				<div class="opacity">
					<div class="container">
						<p>帮助中小企业用户选择自己的门户（静态网站、动态信息发布网站、独立电商、联盟电商平台），以及各种IT解决方案。</p>
						<h2>解决方案</h2>
						<ul>
							<li><a href="/">首页</a></li>
							<li>.</li>
							<li>解决方案</li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=============================================
				Our Blog
			==============================================
			-->
			<div class="our-blog section-margin-bottom blog-details">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 col-md-8 col-xs-12">
							<div class="blog-post-data">
								<div class="image"><img src='{{ article["img"] }}!870x395' alt=""></div>
								<div class="blog-title">
									<h3>{{ article["title"] }}</h3>
									<h5>{{ article["sub_title"] }}</h5>
								</div> <!-- /.blog-title -->
								<div class="text-wrapper">
									<p>{% raw article['paragraphs'] %}</p>
								</div> <!-- /text-wrapper -->

								<div class="share-option">
									<ul class="clearfix page-changer">
										<li class="float-left"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Previous post</a></li>
										<li class="float-right"><a href="#">Next Post &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div> <!-- /.blog-post-data -->
						</div> <!-- /.col- -->
						</div> <!-- /.theme-sidebar -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.our-blog -->


			<!--
			=============================================
				Bottom Banner
			==============================================
			-->
			{% module Template("block/contact-banner.html") %}


			<!--
			=============================================
				Footer
			==============================================
			-->
			{% module Template("block/footer.html") %}


		<!-- Js File_________________________________ -->
		{% module Template("block/js.html") %}

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>
